.about
	&__content
		width: 400px
		float: right
		text-align: left
		line-height: 25px

		p
			margin-bottom: 20px
			
			&:first-letter
				font-size: 30px
				font-weight: bold
				color: $color-rd
				transform: translateY(20px)

