.about
	&__content
		width: 100%
		float: right
		text-align: left
		line-height: 30px
		max-width: 400px
		letter-spacing: 1px
		
		p
			margin-bottom: 20px
			color: #EEE
			
			// &:first-letter
			// 	font-size: 30px
			// 	font-weight: bold
			// 	color: $color-rd
			// 	transform: translateY(20px)

