.home
	font-size: 28px
	font-weight: bold
	letter-spacing: 3px
	position: relative
	
	&__container
		position: absolute
		height: 100vh
		width: 100vw
		box-sizing: border-box
		text-align: center
		display: flex
		flex-direction: column
		justify-content: center

	&__title
		text-transform: uppercase
		font-size: 24px
		font-weight: bold
		letter-spacing: 6px
		position: relative

	&__subtitle
		font-size: 17px
		font-weight: 100
		font-family: $family-nd
		color: #CCC
		padding-top: 15px
		letter-spacing: 7px
	
				

