body
	font-weight: light

#bg
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh



#body
	position: relative
	z-index: 1
	top: 0
	left: 0
	height: 100vh
	width: 100vw

.wrapper
	max-width: 1080px
	padding: 100px 30px
	margin: auto
	width: 100%
	box-sizing: border-box

.center
	&-y
		display: flex
		flex-direction: column
		justify-content: center
	&-x 
		margin: auto
		text-align: center


.debug 
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 100vh

=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

// use of keyframes mixin
+keyframes(clicked)
	0%
		width: 30px
		height: 30px
	50% 
		width: 50px
		height: 50px
	100%
		width: 30px
		height: 30px


