@import "core/variables"

@import "font"
@import "background"
@import "reset"
@import "scaffold"

@import "blocks/animate"
@import "blocks/form"
@import "blocks/color"
@import "blocks/menu"
@import "blocks/hide-link"
@import "blocks/projects"
@import "blocks/project"
@import "blocks/cursor"
@import "blocks/title"
@import "blocks/progress"

@import "works"
@import "home"
@import "about"
@import "skills"




.contact, .about
	height: 100vh
	flex-direction: column
	justify-content: center
	display: flex
	text-align: center





