$family-st: "Gravity";
$cursor: false;
$light: true;




$color-st: white;
$color-nd: black;
$color-rd: #65bfac;
$color-st-a: rgba(255, 255, 255, 0.4);
$color-nd-a: rgba(0, 0, 0, 0.4);
$color-rd-a: rgba(255, 0, 0, 0.4);
$weight: 500;


$color-st: black;
$color-nd: white;
$color-rd: red;
$color-st-a: rgba(0, 0, 0, 0);
$color-nd-a: rgba(255, 255, 255, 0);
$color-rd-a: rgba(255, 0, 0, 0.4);
$weight: 100;
