---
title: About - Solal Dussout-Revel
slug: about
---

<div class="about center-y">


	<div class="wrapper">
		<div class="about__content animate">
			<h1 class="title title--page animate animate--fade-left-2 animate--delay-1"><%= t(:title, scope: [:about]) %></h1>	
			<%= t(:content, scope:[:about]) %>
		</div>

	</div>


	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--left", :data => { :animate => "right" } %>
	<%= link_to "", "/" ,class: "arrow-link animate animate--fade-top-1 arrow-link--left", :data => { :animate => "right" } %>

</div>
