---
title: About - Solal Dussout-Revel
slug: about
---

<div class="about center-y">

	<div class="menu">
		
		<div class="bg-light-a menu__item menu__item--top-left  menu__item--hide">
			<%= t(:menu_title, scope: [:about]) %>
		</div>

	</div>


	<div class="wrapper">
		<div class="about__content animate">
			<p>On dira ce qu'on veut, la France ça reste le pays des 400 fromages
				Présentement étudiant en développement intéractif à <strong>l'école des Gobelins à Paris</strong>, je conçois et développent des application web et mobile à forte valeure créative.
			<p>
			<p>Je travaille également en alternance en tant que développeur Full Stack dans l'agence FCP Digital à Bordeaux.
			</p>
			<p>Passioné par l'innovation web et les nouvelles technologies, je fais d'une priorité dans mes projets d'allier l'expérientiel à l'utile. 
			</p>
		</div>

	</div>


	<%#= link_to "", "/" ,class: "hide-link hide-link--bottom", :data => { :animate => "top" } %>
	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--bottom", :data => { :animate => "top" } %>

</div>
