---
title: About - Solal Dussout-Revel
---

<div class="works">

	<div class="menu">
		
		<div class="bg-light-a menu__item menu__item--top-left  menu__item--hide">
			<%= t(:menu_title, scope: [:about]) %>
		</div>

	</div>
	
	<%= link_to "return", "/" ,class: "hide-link hide-link--bottom", :data => { :animate => "top" } %>

</div>

<script>
	bg.clipCanvas.displayArrow("bottom");
</script>