---
title: About - Solal Dussout-Revel
---

<div class="works">

	<div class="menu">
		
		<div class="bg-light-a menu__item menu__item--top-left">
			<%= t(:menu_title, scope: [:about]) %>
		</div>

	</div>

</div>