---
title: Contact - Solal Dussout-Revel
slug: contact
---

<div class="contact center-y">

	<div class="menu">
		<div class="bg-light-a menu__item menu__item--top-left menu__item--hide">
			<%= t(:menu_title, scope: [:contact]) %>
		</div>
	</div>

	<div class="wrapper center-x">
		<div class="form__container">
			<form class="form" action="/postmail.php">
				<input class="form__input animate" type="text" name="name" placeholder="Nom">
				<input class="form__input animate" type="text" name="email" placeholder="E-mail">
				<input class="form__input animate" type="text" name="subject" placeholder="Sujet">
				<textarea class="form__text animate" name="content" id="" cols="30" rows="10" placeholder="Message"></textarea>
				<div class="center-x">
					<input type="submit" class="form__submit animate" value="Envoyer">	
				</div>
				
			</form>
		</div>
	</div>

	<%#= link_to "", "/" ,class: "hide-link hide-link--top", :data => { :animate => "bottom" } %>
	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--top", :data => { :animate => "bottom" } %>
</div>
