---
title: Contact - Solal Dussout-Revel
---

<div class="project">

	<div class="menu">
		<div class="bg-light-a menu__item menu__item--top-left menu__item--hide">
			<%= t(:menu_title, scope: [:contact]) %>
		</div>
		
	</div>

	<%= link_to "return", "/" ,class: "hide-link hide-link--top", :data => { :animate => "fade-top" } %>

</div>