---
title: Project - Solal Dussout-Revel
slug: project
---

<div class="project">

	<div class="menu">
		<div class="bg-light-a menu__item menu__item--top-left  menu__item--hide">
			<%= t(:menu_title, scope: [:works]) %> - Single
		</div>
		
	</div>

	<%= link_to "", "/" ,class: "hide-link hide-link--left" %>

</div>