---
title: Skills - Solal Dussout-Revel
slug: skills
---

<div class="skills">

	<h1 class="title title--page title--abs animate animate--fade-left-2 animate--delay-1"><%= t(:title, scope: [:skills]) %></h1>

	<div class="skills__content">
		<div class="skills__list">
			<h2 class="skills__list-title animate animate--fade-bottom-1">Front</h2>
			<ul>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-6">
					<div class="progress__container">
						<p class="progress__title">Middleman</p>
						<span class="progress" data-delay="0" data-value="50"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-5">
					<div class="progress__container">
						<p class="progress__title">Sass</p>
						<span class="progress" data-delay="0" data-value="80"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-4">
					<div class="progress__container">
						<p class="progress__title">CSS 3</p>
						<span class="progress" data-delay="0" data-value="85"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-3">
					<div class="progress__container">
						<p class="progress__title">Three.js</p>
						<span class="progress" data-delay="0" data-value="60"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-2">
					<div class="progress__container">
						<p class="progress__title">Vue.js</p>
						<span class="progress" data-delay="0" data-value="50"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-1">
					<div class="progress__container">
						<p class="progress__title">Webpack</p>
						<span class="progress" data-delay="0" data-value="30"></span>	
					</div>
				</li>
			</ul>
		</div>
		<div class="skills__list">
			<h2 class="skills__list-title animate animate--fade-bottom-1">Back</h2>
			<ul>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-6">
					<div class="progress__container">
						<p class="progress__title">Ruby On Rails</p>
						<span class="progress" data-delay="0" data-value="65"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-5">
					<div class="progress__container">
						<p class="progress__title">Symfony</p>
						<span class="progress" data-delay="0" data-value="50"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-4">
					<div class="progress__container">
						<p class="progress__title">Node JS</p>
						<span class="progress" data-delay="0" data-value="40"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-3">
					<div class="progress__container">
						<p class="progress__title">Wordpress</p>
						<span class="progress" data-delay="0" data-value="90"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-2">
					<div class="progress__container">
						<p class="progress__title">Prestashop</p>
						<span class="progress" data-delay="0" data-value="55"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-1">
					<div class="progress__container">
						<p class="progress__title">Socket-IO</p>
						<span class="progress" data-delay="0" data-value="30"></span>	
					</div>
				</li>
			</ul>
		</div>
		<div class="skills__list">
			<h2 class="skills__list-title animate animate--fade-bottom-1"><%= t(:other, scope: [:skills]) %></h2>
			<ul>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-6">
					<div class="progress__container">
						<p class="progress__title">Android</p>
						<span class="progress" data-delay="0" data-value="45"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-5">
					<div class="progress__container">
						<p class="progress__title">Arduino</p>
						<span class="progress" data-delay="0" data-value="30"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-4">
					<div class="progress__container">
						<p class="progress__title">Git</p>
						<span class="progress" data-delay="0" data-value="65"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-3">
					<div class="progress__container">
						<p class="progress__title">Photoshop</p>
						<span class="progress" data-delay="0" data-value="70"></span>	
					</div>
				</li>
				<li class="skills__list-item animate animate--fade-bottom-2 animate--delay-2">
					<div class="progress__container">
						<p class="progress__title">Sketch</p>
						<span class="progress" data-delay="0" data-value="60"></span>	
					</div>
				</li>
			</ul>
		</div>
	</div>

	<%#= link_to "", "/" ,class: "hide-link hide-link--right", :data => { :animate => "left" } %>
	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--bottom", :data => { :animate => "top" } %>
	<%= link_to "", "/" ,class: "arrow-link animate animate--fade-top-1 arrow-link--bottom", :data => { :animate => "top" } %>
</div>