---
title: Skills - Solal Dussout-Revel
slug: skills
---

<div class="works">

	<div class="menu">
		
		<div class="bg-light-a menu__item menu__item--top-left  menu__item--hide">
			<%= t(:menu_title, scope: [:skills]) %>
		</div>

	</div>
	
	<%#= link_to "", "/" ,class: "hide-link hide-link--right", :data => { :animate => "left" } %>
	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--right", :data => { :animate => "left" } %>
</div>