---
title: Works - Solal Dussout-Revel
slug: works
---

<div class="works">

	<div class="menu">
		<div class="bg-light-a menu__item menu__item--top-left menu__item--hide">
			<%= t(:menu_title, scope: [:works]) %>
		</div>
		
	</div>

	<div class="works__container wrapper">
		<div class="projects">
			<% data.projects.projects.each do |project| %>

				<div class="projects__item">
					<div class="projects__item-container animate">
						<div class="projects__item-perspective">
							<div class="projects__item-miniature" 
							style='background-image: url("/images/<%= project.thumbnail %>");'>
								<p class="projects__item-title"><%#= project.name %></p>
							</div>
							<div class="projects__item-full">
								<%= partial(:project, :locals => { :project => project }) %>
							</div>
						</div>
						
					</div>
					
				</div>		
			<% end %>
		</div>

	</div>

	<%#= link_to "", "/" ,class: "hide-link hide-link--left", :data => { :animate => "right" } %>
	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--top", :data => { :animate => "bottom" } %>
</div>
