.form

	display: flex
	flex-direction: column
	justify-content: center
	margin: auto

	&__container
		display: inline-block

	&__input, &__text, &__submit
		width: 250px
		padding: 10px
		font-size: 14px
		margin: 10px 0
		border: 0
		border-radius: 25px
	
	&__input
		background-color: $color-nd
		color: $color-st

	&__text
		background-color: $color-nd
		color: $color-st
		font-family: $family-st

	&__submit
		width: 100px
		height: 40px
		margin: 0
		background-color: $color-rd
		color: white 
		display: inline-block
		
		&-container
			height: 40px
			position: relative
			margin: 10px auto
			&::after
				content: ""
				position: absolute
				top: 50%
				left: 50%
				width: 40px
				height: 40px
				transform: translateX(-50%) translateY(-50%) rotate(0) scale(0)
				opacity: 0
		
			&--success .form__submit, &--loading .form__submit
				width: 40px
				transition: .2s ease-in-out 0s !important
				color: transparent
				transform: scale(1.2)

			&--loading::after
				background-image: image-url("loading.svg")
				transform: translateX(-50%) translateY(-50%) rotate(0) scale(0)
				opacity: 1
				background-position: center
				background-size: 30px
				background-repeat: no-repeat
				animation-name: loading
				animation-duration: 10s
				animation-timing-function: linear
				animation-iteration-count: infinite

			&--success::after
				background-image: image-url("check.svg")
				transform: translateX(-50%) translateY(-50%) rotate(0) scale(1)
				opacity: 1
				background-position: center
				background-size: 30px
				background-repeat: no-repeat
				animation-name: fade-out-in
				animation-duration: 10s
				animation-timing-function: linear
				animation-iteration-count: infinite


@keyframes loading
	0%
		transform: translateX(-50%) translateY(-50%) rotate(0) scale(0)
	5%
		transform: translateX(-50%) translateY(-50%) rotate(0) scale(1)	
	100%
		transform: translateX(-50%) translateY(-50%) rotate(3600deg) scale(1)



