.form

	display: flex
	flex-direction: column
	justify-content: center
	margin: auto

	&__container
		display: inline-block

	&__input
		width: 250px
		padding: 10px
		border: 0
		background-color: $color-nd
		font-size: 14px
		margin: 10px 0
		border: 0
		color: $color-st
		border-radius: 25px

	&__text
		width: 250px
		padding: 10px
		border: 0
		background-color: $color-nd
		font-size: 14px
		margin: 10px 0
		border: 0
		color: $color-st
		border-radius: 25px
		font-family: sans-serif