$size2: 80px

.guide-link
	
	position: absolute
	display: block
	width: $size2
	height: $size2


	&::after
		content: ""
		position: absolute
		background-color: white
		transition: .3s
		width: 100%
		height: 1px
		transform-origin: 0 50%
		transform: scaleX(1)

	&:hover, &.guide-link--hide
		&::after
			transform: scaleX(0)
	


	&--bottom
		bottom: 0
		position: fixed
		left: calc(50% - #{$size2/2})
		&::after
			transform: rotate(-90deg) scaleX(1)
			left: 50%
			bottom: 0
			transform-origin: 0 50%

		&:hover, &.guide-link--hide
			&::after
				transform: rotate(-90deg) scaleX(0)


	&--left
		left: 0
		top: calc(50% - #{$size2/2})
		&::after
			top: 50%
			left: 0

	&--right
		right: 0
		top: calc(50% - #{$size2/2})
		&::after
			top: 50%
			left: 0
			transform-origin: 100% 50%

	&--top
		top: 0
		left: calc(50% - #{$size2/2})
		&::after
			transform: rotate(90deg) scaleX(1)
			left: 50%
		&:hover, &.guide-link--hide
			&::after
				transform: rotate(90deg) scaleX(0)


.arrow-link
	position: absolute
	top: 35px
	right: 30px
	background-repeat: no-repeat
	background-size: contain
	background-position: center
	width: 40px
	height: 40px
	display: none
	&--left
		background-image: image-url("arrow.svg")
		transform: rotate(180deg)
	&--right
		background-image: image-url("arrow.svg")
	&--top
		background-image: image-url("arrow.svg")
		transform: rotate(-90deg)
	&--bottom
		background-image: image-url("arrow.svg")
		transform: rotate(90deg)


@media screen and (max-width: 500px)
	.guide-link
		display: none

@media screen and (max-width: 500px)
	.arrow-link
		display: block