.projects
	display: flex
	flex-wrap: wrap
	justify-content: space-around


	&__item
		// width: 35%
		width: 350px
		height: 200px
		margin-bottom: 50px
		transition: .6s
		background-size: cover
		

		&-container
			position: absolute
			width: 350px
			height: 200px
			transition: 1s
			&--full
				width: calc(100% + 50px)
				height: calc(100% + 50px)			
				z-index: 999
				top: 0 
				left: -25px

				.projects__item-perspective
					transition: .3s
					transform: none !important
					background-color: rgba(0, 0, 0, 1)

				.projects__item-miniature
					transition: .5s ease-in-out

				.projects__item-full
					opacity: 1
					pointer-events: all	
					transition: .5s ease-in-out .8s

	
		&-perspective 
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: rgba(30, 30, 30, .8)

		&-miniature, &-full
			box-sizing: border-box
			position: absolute
			top: 0
			left: 0
			
		&-miniature
			flex-direction: column
			justify-content: center
			display: flex
			text-align: center
			z-index: 1
			opacity: 1
			padding: 30px
			width: 100%
			height: 100%
			transition: .5s ease-in-out


		&-full
			background-color: rgba(255, 255, 255, 1)
			z-index: 2
			opacity: 0
			margin: 30px 55px
			width: calc(100% - 110px)
			height: calc(100% - 110px)
			pointer-events: none
			transition: .5s ease-in-out
		// .projects__item-container--full .projects__item-full
				
		


		&-title
			text-transform: uppercase
			letter-spacing: 2px
			font-size: 20px
			line-height: 30px
			transition: .4s

		&:hover .projects__item-title
			letter-spacing: 4px
		

