.projects
	display: flex
	flex-wrap: wrap
	justify-content: space-around


	&__item
		width: 350px
		height: 200px
		margin-bottom: 50px
		transition: .6s
		background-size: cover
		

		&-container
			position: absolute
			width: 350px
			height: 200px
			transition: 1s

			&--leaving
				z-index: 999

			&--full
				width: calc(100% + 50px)
				height: 100vh			
				z-index: 999
				top: 0 
				left: -25px

		

				.projects__item-perspective
					transition: .3s
					transform: none !important
					background-color: rgba(0, 0, 0, 1)

				.projects__item-miniature
					transition: .5s ease-in-out

				.projects__item-full
					opacity: 1
					pointer-events: all	
					transition: .5s ease-in-out .8s

	
		&-perspective 
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: rgba(30, 30, 30, .8)

		&-miniature, &-full
			box-sizing: border-box
			position: absolute
			top: 0
			left: 0
			
		&-miniature
			flex-direction: column
			justify-content: center
			display: flex
			text-align: center
			z-index: 1
			opacity: 1
			padding: 30px
			width: 100%
			height: 100%
			transition: .5s ease-in-out
			background-size: cover
			background-position: center


		&-full
			background-color: rgba(255, 255, 255, 1)
			z-index: 2
			opacity: 0
			margin: 30px 55px
			width: calc(100% - 110px)
			height: calc(100% - 60px)
			pointer-events: none
			transition: .5s ease-in-out
				
		


		&-title
			text-transform: uppercase
			letter-spacing: 2px
			font-size: 20px
			line-height: 30px
			transition: .4s

		&:hover .projects__item-title
			letter-spacing: 4px
	

@media screen and (max-width: 500px)
	
	.projects__item, .projects__item-container
		width: 300px

		&.projects__item-container--full
			width: calc(100% + 50px)
	
	.projects__item-full
		margin: 10px 35px
		width: calc(100% - 70px)
		height: calc(100% - 20px)


	// Override default behaviour

	.projects__item-perspective
		transform: none !important

	.projects__item-container
		top: auto !important
		left: auto !important
		&--full, &--full .projects__item-perspective, &--full .projects__item-miniature 
			width: 300px
			position: static
			height: 200px
	
	.projects__item-miniature
		max-width: 300px
		cursor: pointer

	.projects__item-container .projects__item-full
		top: 0
		left: 0
		opacity: 1
		width: calc(100vw - 20px)
		height: calc(100vh - 20px)
		position: fixed
		margin: 10px
		transform: translateX(100vw)
		opacity: 0
		cursor: auto
		z-index: 999
	.projects__item-container--full .projects__item-full
		transform: translateX(0)
		opacity: 1
